---
description: 电子邮件验证 — Marketo文档 — 产品文档
title: 电子邮件验证
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# 电子邮件验证 {#email-verification}

Adobe Marketo Engage订阅要求所有非API用户验证其电子邮件地址。 启用电子邮件验证后，单点登录(SSO)用户会自动验证其电子邮件。

**用户邀请**

当管理员邀请用户时，该用户单击邀请链接后将自动进行验证。 将自动验证具有SSO的用户。

**更改电子邮件地址**

当用户的电子邮件地址发生更改时，它将变为未验证。 将向他们发送电子邮件，以便他们重新验证。 用户可以通过单击手动重新发送该电子邮件 **重新发送验证**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**用户和角色**

在管理员>用户和角色中，“电子邮件状态”列显示每个用户的验证状态。

![](assets/email-verification-3.png)

要将验证电子邮件重新发送给未验证用户，只需选择其记录并单击 **验证电子邮件** 按钮。
