---
description: 电子邮件验证 — Marketo文档 — 产品文档
title: 电子邮件验证
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: c6eb6c099104bf0dccba36a7cc8a85dc03bdc9d3
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# 电子邮件验证 {#email-verification}

AdobeMarketo Engage订阅要求所有非API用户验证其电子邮件地址。 单点登录(SSO)用户在启用“电子邮件验证”后，将自动验证其电子邮件。

**用户邀请**

当管理员邀请用户时，该用户在单击“邀请”链接后会自动进行验证。 使用SSO的用户会自动进行验证。

**更改电子邮件地址**

当用户的电子邮件地址发生更改时，该地址会变为未验证。 系统会向他们发送电子邮件，以便他们重新验证。 管理员可以通过单击 **重新发送验证**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**用户和角色**

在管理员>用户和角色中，电子邮件状态列显示每个用户的验证状态。

![](assets/email-verification-3.png)

要验证未验证的用户，只需选择其记录并单击 **验证电子邮件** 按钮。

