---
description: 电子邮件验证 — Marketo文档 — 产品文档
title: 电子邮件验证
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# 电子邮件验证 {#email-verification}

我想你说过我们只会制作一个新页面，包含用户的电子邮件验证

用户邀请当管理员邀请用户时，对用户的UI或体验没有更改当用户单击邀请链接时，其电子邮件将自动验证使用SSO的用户自动验证

“用户帐户屏幕”显示已验证的电子邮件地址更新电子邮件地址时，UI会反映帐户的电子邮件未验证并发送电子邮件（请参阅附加的电子邮件）

管理员 — 用户和角色页面显示用户验证状态的新列新按钮，可再次触发用户的电子邮件验证

MyMarketo如果用户登录时，如果用户的电子邮件未验证，则他们应会在我的Marketo页面上看到一个横幅（仅限）。
